body{
    background-color: brown;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    
main{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
    width: 400px;
}
.form-group{
    margin-bottom: 15px;
    text-align: left;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
}